* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f6f8fc;
}

.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: #fff;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}

.pokemon-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.pokemon-modal-content {
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 1rem;
    text-align: center;
    color: #333;
    max-width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
